#chat {
  z-index: 100;
}
.back {
  background: rgb(26, 60, 82);
  height: 900px;
  overflow-y: scroll;
  background: linear-gradient(
    90deg,
    rgba(26, 60, 82, 0.8239670868347339) 0%,
    rgba(16, 134, 125, 0.8273344494047619) 42%,
    rgba(32, 158, 168, 0.7916201636904762) 100%
  );
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
