﻿<!DOCTYPE html>

<html>
<head>
    <!-- BOOTSTRAP -->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/style/StyleSheet.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><img src="https://png2.cleanpng.com/sh/e59408838cdc6b11de6c52b559378429/L0KzQYm3VcE0N6hxj5H0aYP2gLBuTfZqfJ9qiAU2Y3XxhMPsTfV5baNogeVuLXPvecG0ggJ1NWZmfqo5ZHO7QIi9hvU0Nmg5S6s7M0S3QYa5VsIxPWkATqI8MEWxgLBu/kisspng-fitness-centre-exercise-clip-art-5af80dc8076fe3.7439234415262058960305.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Lista Corsi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Insert">Iscriviti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/LogIn">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/IMieiCorsi">I miei corsi</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
