﻿@model List<CorsoUtente_TASK.Models.Iscrizione>;
@{Layout = "_Layout"; }

@foreach (var item in Model)
{
    <div class="row">
        <div class="col">
        </div>
        <div class="col justify-content ">
            
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">@item.CorsoRifNavigation.Titolo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.CorsoRifNavigation.DataOra</h6>
                        <p class="card-text">@item.CorsoRifNavigation.Descrizione</p>
                        <p class="card-text">Data Iscrizione: @item.DataIscrizione.ToLongDateString() </p>

                        <a  asp-controller="Home" asp-action="DeleteIscrizione"asp-route-id="@item.IscrizioneId" class="btn btn-danger">Elimina</a>


                    </div>
                </div>
            
        </div>
        <div class="col">
        </div>
    </div>
}