﻿@model List<CorsoUtente_TASK.Models.Corso>
@{
    Layout = "_Layout";
}

    @foreach (var corso in Model)
    {
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form asp-controller="Home" asp-action="Iscriviti" asp-route-id="@corso.CorsoId">
            <div class="card mt-3 jus" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@corso.Titolo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@corso.DataOra</h6>
                    <p class="card-text">@corso.Descrizione</p>
                    
                    <button type="submit" class="btn btn-primary">Iscriviti</button>


                </div>
            </div>
        </form>
    </div>
    <div class="col">
    </div>
</div>

            }
    
