﻿@model CorsoUtente_TASK.Models.Utente;
@{ 
    Layout = "_Layout";
}
<div class="row">
    <div class="col">

        <form asp-controller="Home" asp-action="Insert" method="post">

            <div class="form-group">
                <label asp-for="Nome">Nome:</label>
                <input type="text" asp-for="Nome" placeholder="Inserisci il nome" class="form-control" />
                <span asp-validation-for="Nome"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cognome">Cognome:</label>
                <input type="text" asp-for="Cognome" placeholder="Inserisci il cognome" class="form-control" />
                <span asp-validation-for="Cognome"></span>
            </div>

            <div class="form-group">
                <label asp-for="Indirizzo">Indirizzo:</label>
                <input type="text" asp-for="Indirizzo" placeholder="Inserisci l'indirizzo" class="form-control" />
                <span asp-validation-for="Indirizzo"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita">Data di nascita:</label>
                <input type="date" asp-for="DataNascita" placeholder="Inserisci la data di nascita" class="form-control" />
                <span asp-validation-for="DataNascita"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username">Email:</label>
                <input type="email" asp-for="Username" placeholder="Inserisci la tua mail(Non la condivideremo con nessuno)" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordUtente">PasswordUtente:</label>
                <input type="password" asp-for="PasswordUtente" placeholder="Inserisci la password" class="form-control" />
                <span asp-validation-for="PasswordUtente"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary">Iscriviti</button>
        </form>

    </div>
</div>