﻿@model CorsoUtente_TASK.Models.Utente;
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <form asp-controller="Home" asp-action="CheckLogin" method="post">
            <div class="form-group">
                <label asp-for="Username">Email:</label>
                <input type="email" asp-for="Username" placeholder="Inserisci la tua mail(Non la condivideremo con nessuno)" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordUtente">PasswordUtente:</label>
                <input type="password" asp-for="PasswordUtente" placeholder="Inserisci la password" class="form-control" />
                <span asp-validation-for="PasswordUtente"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary" >Log In</button>
        </form>
    </div>
</div>